In [1]:
from openai import OpenAI
import pandas as pd
import sqlite3
from dotenv import load_dotenv

load_dotenv()

/home/ivan/miniconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/ivan/miniconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

True

In [ ]:
filepath = "../data/Amazon-Sales-Case-Study-And-Dashboard/Amazon.csv"

## Text-to-SQL via LLM

## Data Reading and Database Creation

In [2]:
# executor
import pandas as pd

def execute_query(query, db_name='../data/Amazon-Sales-Case-Study-And-Dashboard/amazon.db', fetch=True):
    """
    Executes a given SQL query on the specified SQLite database.

    Parameters:
    query (str): The SQL query to execute.
    db_name (str): The name of the database file. Defaults to 'amazon.db'.
    fetch (bool): Whether to fetch and return query results. Defaults to True.

    Returns:
    pd.DataFrame or None: A DataFrame with query results if fetch=True, otherwise None.
    """
    try:
        # Establish connection to the database
        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()
        
        # Execute the query
        cursor.execute(query)
        
        # Commit if the query is not a SELECT
        if not query.strip().lower().startswith("select"):
            conn.commit()
            print("Query executed successfully.")
            return None
        
        # Fetch and return results as a DataFrame
        if fetch:
            df = pd.read_sql_query(query, conn)
            return df
    
    except sqlite3.Error as e:
        print(f"An error occurred: {e}")
        return None
    
    finally:
        # Close the connection
        conn.close()

### OpenAI model(s)

True

In [3]:
system_prompt = """
You are an AI assistant specialized in generating SQL queries. Your task is to take 
natural language requests and convert them into accurate and efficient SQL statements. 

Follow these instructions carefully:
1. Understand the user's intent and the structure of the data they describe.
2. Generate SQL queries tailored to the request.
3. Use standard SQL syntax unless specified otherwise by the user.
4. If the user specifies a database system (e.g., MySQL, PostgreSQL, SQLite), adapt the query accordingly.
5. Assume the user provides table and column names as they are, unless otherwise noted.

Provide the SQL query as your response, without extra explanations unless requested.
Example:
User Query: "List all customers from the customers table who live in California."

SQL Code:
SELECT * FROM customers WHERE state = 'California'

INPUT:
1. user_query: natural language query from the user
2. database_description: optional: create table statements or text description

OUTPUT:
sql-query
Return it as a string with no leading apostrophes or smth like that
"""


def text2sql(user_query, database_description=None):
    client = OpenAI()
    
    messages =[
        {"role": "system", "content": system_prompt},
        {"role": "user", "content": f'user_query: {user_query}, database_description: {database_description}'}
    ]
    
    completion = client.chat.completions.create(
        model="gpt-4o-mini",
        messages=messages,
        temperature=0.7)
    
    # TODO: parse the response
    response = completion.choices[0].message.content
    
    return response

In [5]:
database_description = f"""
create table amazon_sales
(invoice_id varchar(30) primary key not null,
branch varchar(5) not null,
city varchar(30) not null,
customer_type varchar(30) not null,
gender varchar(10) not null,
product_line varchar(100) not null,
unit_price decimal(10,2) not null,
quantity int not null,
vat float not null,
total decimal(10,2) not null,
date date not null,
time time not null,
payment_method varchar(20) not null,
cogs decimal(10,2) not null,
gross_margin_percentage float not null,
gross_income decimal(10,2) not null,
rating decimal(3,1) not null,
time_of_day varchar(15) not null,
day_name varchar(10) not null,
month_name varchar(10) not null);
"""

user_query = "Which product line has the lowest sales?"
resulting_query = text2sql(user_query, database_description)
print(resulting_query)

SELECT product_line, SUM(total) AS total_sales
FROM amazon_sales
GROUP BY product_line
ORDER BY total_sales ASC
LIMIT 1;

In [18]:
dataset = pd.read_csv("../data/Amazon-Sales-Case-Study-And-Dashboard/groundtruth.csv")
dataset.head()
for _, pair in dataset.iterrows():
    nl = pair['NL']
    print(f"User query:\n{nl}")
    sql_query = pair['SQL query']
    print(f"Expected SQL:\n{sql_query}")
    result = text2sql(nl, database_description)
    print(f"Result query:\n{result}\n")
    
    expected_ex = execute_query(sql_query)
    print(f'Expected execution:\n{expected_ex}\n')
    result_ex = execute_query(result)
    print(f'Resulting execution:\n{result_ex}\n')

User query:
What is the count of distinct cities in the dataset?
Expected SQL:
select count(distinct(city)) from amazon_sales;
Result query:
SELECT COUNT(DISTINCT city) FROM amazon_sales;

Expected execution:
   count(distinct(city))
0                      3

Resulting execution:
   COUNT(DISTINCT city)
0                     3

User query:
For each branch, what is the corresponding city?
Expected SQL:
select distinct city, branch from amazon_sales;
Result query:
SELECT branch, city FROM amazon_sales;

Expected execution:
        city branch
0     Yangon      A
1  Naypyitaw      C
2   Mandalay      B

Resulting execution:
    branch       city
0        A     Yangon
1        C  Naypyitaw
2        A     Yangon
3        A     Yangon
4        A     Yangon
..     ...        ...
995      C  Naypyitaw
996      B   Mandalay
997      A     Yangon
998      A     Yangon
999      A     Yangon

[1000 rows x 2 columns]

User query:
What is the count of distinct product lines in the dataset?
Expected SQL:
select count(distinct(product_line)) from amazon_sales;
Result query:
SELECT COUNT(DISTINCT product_line) FROM amazon_sales;

Expected execution:
   count(distinct(product_line))
0                              6

Resulting execution:
   COUNT(DISTINCT product_line)
0                             6

User query:
Which payment method occurs most frequently?
Expected SQL:
select payment_method, count(*) as occurance from amazon_sales group by payment_method order by occurance desc;
Result query:
SELECT payment_method, COUNT(*) as frequency
FROM amazon_sales
GROUP BY payment_method
ORDER BY frequency DESC
LIMIT 1;

Expected execution:
  payment_method  occurance
0        Ewallet        345
1           Cash        344
2    Credit card        311

Resulting execution:
  payment_method  frequency
0        Ewallet        345

User query:
Which product line has the highest sales?
Expected SQL:
select product_line, sum(quantity) as total_sales from amazon_sales group by product_line order by total_sales desc;
Result query:
SELECT product_line, SUM(total) AS total_sales
FROM amazon_sales
GROUP BY product_line
ORDER BY total_sales DESC
LIMIT 1;

Expected execution:
             product_line  total_sales
0  Electronic accessories          971
1      Food and beverages          952
2       Sports and travel          920
3      Home and lifestyle          911
4     Fashion accessories          902
5       Health and beauty          854

Resulting execution:
         product_line  total_sales
0  Food and beverages    56144.844

User query:
How much revenue is generated each month?
Expected SQL:
select month_name, sum(total) as monthly_revenue$ from amazon_sales group by month_name order by monthly_revenue$ desc;
Result query:
SELECT month_name, SUM(total) AS revenue
FROM amazon_sales
GROUP BY month_name
ORDER BY MONTH(STR_TO_DATE(month_name, '%M'));

Expected execution:
  month_name  monthly_revenue$
0         01        116291.868
1         03        109455.507
2         02         97219.374

An error occurred: no such function: STR_TO_DATE
Resulting execution:
None

User query:
In which month did the cost of goods sold reach its peak?
Expected SQL:
select month_name, sum(cogs) as cost_of_goods_sold from amazon_sales group by month_name order by cost_of_goods_sold desc;
Result query:
SELECT month_name FROM amazon_sales GROUP BY month_name ORDER BY SUM(cogs) DESC LIMIT 1;

Expected execution:
  month_name  cost_of_goods_sold
0         01           110754.16
1         03           104243.34
2         02            92589.88

Resulting execution:
  month_name
0         01

User query:
Which product line generated the highest revenue?
Expected SQL:
select product_line, sum(total) as total_revenue$ from amazon_sales group by product_line order by total_revenue$ desc;
Result query:
SELECT product_line, SUM(total) AS total_revenue
FROM amazon_sales
GROUP BY product_line
ORDER BY total_revenue DESC
LIMIT 1;

Expected execution:
             product_line  total_revenue$
0      Food and beverages      56144.8440
1       Sports and travel      55122.8265
2  Electronic accessories      54337.5315
3     Fashion accessories      54305.8950
4      Home and lifestyle      53861.9130
5       Health and beauty      49193.7390

Resulting execution:
         product_line  total_revenue
0  Food and beverages      56144.844

User query:
In which city was the highest revenue recorded?
Expected SQL:
select city, sum(total) as revenue$ from amazon_sales group by city order by revenue$ desc;
Result query:
SELECT city, SUM(total) AS total_revenue
FROM amazon_sales
GROUP BY city
ORDER BY total_revenue DESC
LIMIT 1;

Expected execution:
        city     revenue$
0  Naypyitaw  110568.7065
1     Yangon  106200.3705
2   Mandalay  106197.6720

Resulting execution:
        city  total_revenue
0  Naypyitaw    110568.7065

User query:
Which product line incurred the highest Value Added Tax?
Expected SQL:
select product_line, max(vat) highest_vat from amazon_sales group by product_line order by highest_vat desc;
Result query:
SELECT product_line, SUM(vat) AS total_vat FROM amazon_sales GROUP BY product_line ORDER BY total_vat DESC LIMIT 1;

Expected execution:
             product_line  highest_vat
0     Fashion accessories      49.6500
1      Food and beverages      49.2600
2      Home and lifestyle      48.7500
3       Sports and travel      47.7200
4       Health and beauty      45.2500
5  Electronic accessories      44.8785

Resulting execution:
         product_line  total_vat
0  Food and beverages   2673.564

User query:
For each product line, add a column indicating 'Good' if its sales are above average, otherwise 'Bad.'
Expected SQL:
select product_line, sum(total) as revenue, case when sum(total) > (select sum(total)/count(distinct(product_line)) from amazon_sales) then 'Good' else 'Bad' end performance from amazon_sales group by product_line;
Result query:
SELECT product_line,
       CASE
           WHEN SUM(total) > (SELECT AVG(total) FROM amazon_sales) THEN 'Good'
           ELSE 'Bad'
       END AS sales_status
FROM amazon_sales
GROUP BY product_line;

Expected execution:
             product_line     revenue performance
0  Electronic accessories  54337.5315        Good
1     Fashion accessories  54305.8950        Good
2      Food and beverages  56144.8440        Good
3       Health and beauty  49193.7390         Bad
4      Home and lifestyle  53861.9130        Good
5       Sports and travel  55122.8265        Good

Resulting execution:
             product_line sales_status
0  Electronic accessories         Good
1     Fashion accessories         Good
2      Food and beverages         Good
3       Health and beauty         Good
4      Home and lifestyle         Good
5       Sports and travel         Good

User query:
Identify the branch that exceeded the average number of products sold.
Expected SQL:
select branch, sum(quantity) as product_sold from amazon_sales group by branch having product_sold > (select sum(quantity)/count(distinct branch) as avg_quantity from amazon_sales);
Result query:
SELECT branch FROM amazon_sales GROUP BY branch HAVING SUM(quantity) > (SELECT AVG(total_products) FROM (SELECT SUM(quantity) AS total_products FROM amazon_sales GROUP BY branch) AS avg_sales);

Expected execution:
  branch  product_sold
0      A          1859

Resulting execution:
  branch
0      A

User query:
Which product line is most frequently associated with each gender?
Expected SQL:
with new as (select gender, product_line, count(*) as count from amazon_sales group by gender, product_line), max_count as (select max(count) from new group by gender) select * from new where count in (select * from max_count) limit 2;
Result query:
SELECT gender, product_line, COUNT(*) as frequency
FROM amazon_sales
GROUP BY gender, product_line
HAVING frequency = (
    SELECT MAX(frequency)
    FROM (
        SELECT gender, product_line, COUNT(*) as frequency
        FROM amazon_sales
        GROUP BY gender, product_line
    ) as subquery
    WHERE subquery.gender = amazon_sales.gender
)
ORDER BY gender;

Query executed successfully.
Expected execution:
None

Resulting execution:
   gender         product_line  frequency
0  Female  Fashion accessories         96
1    Male    Health and beauty         88

User query:
Calculate the average rating for each product line.
Expected SQL:
select product_line, avg(rating) as avg_rating from amazon_sales group by product_line;

Result query:
SELECT product_line, AVG(rating) AS average_rating
FROM amazon_sales
GROUP BY product_line;

Expected execution:
             product_line  avg_rating
0  Electronic accessories    6.924706
1     Fashion accessories    7.029213
2      Food and beverages    7.113218
3       Health and beauty    7.003289
4      Home and lifestyle    6.837500
5       Sports and travel    6.916265

Resulting execution:
             product_line  average_rating
0  Electronic accessories        6.924706
1     Fashion accessories        7.029213
2      Food and beverages        7.113218
3       Health and beauty        7.003289
4      Home and lifestyle        6.837500
5       Sports and travel        6.916265

User query:
Count the sales occurrences for each time of day on every weekday.
Expected SQL:
select day_name, time_of_day, count(*) sales from amazon_sales group by day_name, time_of_day order by field(day_name, 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'), field(time_of_day, 'Morning', 'Afternoon', 'Evening');
Result query:
SELECT day_name, time_of_day, COUNT(*) as sales_occurrences
FROM amazon_sales
GROUP BY day_name, time_of_day
ORDER BY day_name, time_of_day;

An error occurred: no such function: field
Expected execution:
None

Resulting execution:
   day_name time_of_day  sales_occurrences
0         0   Afternoon                 70
1         0     Evening                 41
2         0     Morning                 22
3         1   Afternoon                 75
4         1     Evening                 29
5         1     Morning                 21
6         2   Afternoon                 71
7         2     Evening                 51
8         2     Morning                 36
9         3   Afternoon                 81
10        3     Evening                 40
11        3     Morning                 22
12        4   Afternoon                 76
13        4     Evening                 29
14        4     Morning                 33
15        5   Afternoon                 74
16        5     Evening                 36
17        5     Morning                 29
18        6   Afternoon                 81
19        6     Evening                 55
20        6     Morning                 28

User query:
Identify the customer type contributing the highest revenue.
Expected SQL:
select customer_type, sum(total) as revenue from amazon_sales group by customer_type order by revenue desc;
Result query:
SELECT customer_type, SUM(total) AS revenue
FROM amazon_sales
GROUP BY customer_type
ORDER BY revenue DESC
LIMIT 1;

Expected execution:
  customer_type     revenue
0        Member  164223.444
1        Normal  158743.305

Resulting execution:
  customer_type     revenue
0        Member  164223.444

User query:
Determine the city with the highest VAT percentage.
Expected SQL:
select city, max(vat) as vat_percentage from amazon_sales group by city order by vat_percentage desc;
Result query:
SELECT city FROM amazon_sales ORDER BY vat DESC LIMIT 1;

Expected execution:
        city  vat_percentage
0  Naypyitaw           49.65
1     Yangon           49.49
2   Mandalay           48.69

Resulting execution:
        city
0  Naypyitaw

User query:
Identify the customer type with the highest VAT payments.
Expected SQL:
select customer_type, max(vat) as vat_percentage from amazon_sales group by customer_type order by vat_percentage desc;
Result query:
SELECT customer_type, SUM(vat) AS total_vat
FROM amazon_sales
GROUP BY customer_type
ORDER BY total_vat DESC
LIMIT 1;

Expected execution:
  customer_type  vat_percentage
0        Member           49.65
1        Normal           49.49

Resulting execution:
  customer_type  total_vat
0        Member   7820.164

User query:
What is the count of distinct customer types in the dataset?
Expected SQL:
select count(distinct(customer_type)) as count_distinct_customer_type from amazon_sales;
Result query:
SELECT COUNT(DISTINCT customer_type) FROM amazon_sales;

Expected execution:
   count_distinct_customer_type
0                             2

Resulting execution:
   COUNT(DISTINCT customer_type)
0                              2

User query:
What is the count of distinct payment methods in the dataset?
Expected SQL:
select count(distinct(payment_method)) as count_distinct_payment from amazon_sales;
Result query:
SELECT COUNT(DISTINCT payment_method) FROM amazon_sales;

Expected execution:
   count_distinct_payment
0                       3

Resulting execution:
   COUNT(DISTINCT payment_method)
0                               3

User query:
Which customer type occurs most frequently?
Expected SQL:
select customer_type, count(*) as count from amazon_sales group by customer_type order by count desc;
Result query:
SELECT customer_type, COUNT(*) AS frequency
FROM amazon_sales
GROUP BY customer_type
ORDER BY frequency DESC
LIMIT 1;

Expected execution:
  customer_type  count
0        Member    501
1        Normal    499

Resulting execution:
  customer_type  frequency
0        Member        501

User query:
Identify the customer type with the highest purchase frequency.
Expected SQL:
select customer_type, sum(total) as purchase_frequency from amazon_sales group by customer_type order by purchase_frequency desc;
Result query:
SELECT customer_type, COUNT(*) AS purchase_frequency
FROM amazon_sales
GROUP BY customer_type
ORDER BY purchase_frequency DESC
LIMIT 1;

Expected execution:
  customer_type  purchase_frequency
0        Member          164223.444
1        Normal          158743.305

Resulting execution:
  customer_type  purchase_frequency
0        Member                 501

User query:
Determine the predominant gender among customers.
Expected SQL:
select gender, count(*) as count from amazon_sales group by gender order by count desc;
Result query:
SELECT gender, COUNT(*) as count FROM amazon_sales GROUP BY gender ORDER BY count DESC LIMIT 1;

Expected execution:
   gender  count
0  Female    501
1    Male    499

Resulting execution:
   gender  count
0  Female    501

User query:
Examine the distribution of genders within each branch.
Expected SQL:
select branch, gender, count(*) as count from amazon_sales group by branch, gender order by branch, gender;
Result query:
SELECT branch, gender, COUNT(*) AS gender_count
FROM amazon_sales
GROUP BY branch, gender;

Expected execution:
  branch  gender  count
0      A  Female    161
1      A    Male    179
2      B  Female    162
3      B    Male    170
4      C  Female    178
5      C    Male    150

Resulting execution:
  branch  gender  gender_count
0      A  Female           161
1      A    Male           179
2      B  Female           162
3      B    Male           170
4      C  Female           178
5      C    Male           150

User query:
Identify the time of day when customers provide the most ratings.
Expected SQL:
select time_of_day, count(rating) as rating_count from amazon_sales group by time_of_day order by rating_count desc;
Result query:
SELECT time_of_day, COUNT(rating) AS rating_count
FROM amazon_sales
GROUP BY time_of_day
ORDER BY rating_count DESC
LIMIT 1;

Expected execution:
  time_of_day  rating_count
0   Afternoon           528
1     Evening           281
2     Morning           191

Resulting execution:
  time_of_day  rating_count
0   Afternoon           528

User query:
Determine the time of day with the highest customer ratings for each branch.
Expected SQL:
select branch, time_of_day, max(rating) highest_rating from amazon_sales group by branch, time_of_day having highest_rating = (select max(x.max) from (select branch, time_of_day, max(rating) max from amazon_sales group by branch, time_of_day) as x where x.branch= amazon_sales.branch) order by branch;
Result query:
SELECT time_of_day, branch, AVG(rating) as average_rating
FROM amazon_sales
GROUP BY branch, time_of_day
HAVING AVG(rating) = (
    SELECT MAX(avg_rating)
    FROM (
        SELECT AVG(rating) as avg_rating
        FROM amazon_sales
        GROUP BY branch, time_of_day
    ) as branch_ratings
    WHERE branch_ratings.branch = amazon_sales.branch
)
ORDER BY branch;

Expected execution:
  branch time_of_day  highest_rating
0      A   Afternoon            10.0
1      B   Afternoon            10.0
2      B     Evening            10.0
3      B     Morning            10.0
4      C   Afternoon            10.0

An error occurred: no such column: branch_ratings.branch
Resulting execution:
None

User query:
Identify the day of the week with the highest average ratings.
Expected SQL:
select day_name, avg(rating) as avg_rating from amazon_sales group by day_name order by avg_rating desc;

Result query:
SELECT day_name, AVG(rating) AS average_rating
FROM amazon_sales
GROUP BY day_name
ORDER BY average_rating DESC
LIMIT 1;

Expected execution:
  day_name  avg_rating
0        1    7.153600
1        5    7.076259
2        0    7.011278
3        2    7.003165
4        6    6.901829
5        4    6.889855
6        3    6.805594

Resulting execution:
  day_name  average_rating
0        1          7.1536

User query:
Determine the day of the week with the highest average ratings for each branch.
Expected SQL:
with avg_rating as (select branch, day_name, avg(rating) avg_rat from amazon_sales group by branch, day_name), max_rating as (select max(avg_rat) from avg_rating group by branch) select branch, day_name, avg_rat as highest_avg_rat from avg_rating where avg_rat in (select * from max_rating);
Result query:
SELECT day_name, branch, AVG(rating) AS average_rating
FROM amazon_sales
GROUP BY branch, day_name
ORDER BY branch, average_rating DESC;

Query executed successfully.
Expected execution:
None

Resulting execution:
   day_name branch  average_rating
0         5      A        7.312000
1         1      A        7.097917
2         0      A        7.078846
3         2      A        7.058824
4         4      A        6.958696
5         3      A        6.916279
6         6      A        6.746000
7         1      B        7.335897
8         2      B        7.001887
9         0      B        6.888571
10        4      B        6.752273
11        6      B        6.736667
12        5      B        6.694118
13        3      B        6.452000
14        5      C        7.278947
15        6      C        7.229630
16        3      C        7.064000
17        1      C        7.036842
18        0      C        7.028261
19        2      C        6.951852
20        4      C        6.950000